<p class="heading"><%= @heading %></p>

<%= if Enum.count(@polls) > 10 do %>
	<p class="heading">
		<a href="<%= @url %>/top" class="sort">top</a>
		<a href="<%= @url %>/new" class="sort">new</a>
	</p>
<% end %>