<%= unless Enum.empty? @polls do %>
	<%= for poll <- @polls do %>
		<div class="poll-item">
			<a href="/polls/<%= poll.id %>"><%= poll.title %></a>
		</div>
	<% end %>
<% else %>
	There is nothing here
<% end %>