<script>
	<% data = render(Liquio.NodeView, "node.json", %{node: @node}) %>
	defaultVueData.node = <%= raw(Poison.Encoder.encode(data, [])) %>;
	defaultVueData.optionsOpen = false
</script>

<div class="main">
	<liquio-full v-bind:node="node"></liquio-full>
</div>

<a @click="optionsOpen = true">Options</a>
<calculation-opts v-bind:opts="node.calculation_opts" v-if="optionsOpen" @close="optionsOpen = false"></calculation-opts>
