<form method="POST" class="pure-form pure-form-stacked login">
	<input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>" />
	<input name="email" type="email" placeholder="Your email" />
	<button type="submit" class="pure-button pure-button-primary">Login</button>
</form>