<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="A liquid democracy where anyone can vote on anything.">
		<meta name="author" content="Žan Kusterle">

		<title>Liquio</title>

		<meta property="og:image" content="https://liqu.io/images/logo.png" />
		<meta property="og:description" content="A liquid democracy where anyone can vote on anything." />
		<meta property="og:url" content="https://liqu.io/" />
		<meta property="og:title" content="Liquio" />
		<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/icons/manifest.json">
		<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#1f8dd6">

		<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

		<%= render "google_analytics.html", conn: @conn %>
	</head>

	<body>
		<div id="app" class="container">
			<router-view></router-view>
		</div>
		<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
	</body>
</html>
