<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="A liquid democracy where anyone can vote on anything">
		<meta name="author" content="Zan Kusterle">

		<title>Liquio</title>
		<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
	</head>

	<body>
		<div class="container">
			<div class="header">
				<a href="/"><img class="logo" src="/images/logo.png"></a>

				<form method="GET" action="/search">
					<input type="search" class="search" placeholder="Search" name="query">
				</form>

				<div class="actions">
					<a>Create <i class="fa fa-plus" aria-hidden="true"></i></a>
					<%= if user = Guardian.Plug.current_resource(@conn) do %>
						<a href="/identities/<%= user.id %>"><%= user.name %> <i class="fa fa-user" aria-hidden="true"></i></a>
						<a href="/logout">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
					<% else %>
						<a href="/login">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a>
					<% end %>
				</div>
			</div>

			<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
			<p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

			<main role="main" class="main">
				<%= render @view_module, @view_template, assigns %>
			</main>
		</div>
	</body>
</html>
