<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="A liquid democracy where anyone can vote on anything">
		<meta name="author" content="Žan Kusterle">

		<meta property="og:image" content="https://liqu.io/images/logo.png" />
		<meta property="og:description" content="A liquid democracy where anyone can vote on anything." />
		<meta property="og:url" content="https://liqu.io/" />
		<meta property="og:title" content="Liquio" />

		<title>Liquio</title>
		<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
	</head>

	<body>
		<div class="landing-container">
			<%= render @view_module, @view_template, assigns %>
		</div>
	</body>
</html>
