<h1 class="title"><%= @poll.title || @poll.id %></h1>

<%= render "score.html", poll: @poll %>

<%= unless Enum.empty?(@references) do %>
	<h2 class="references-title">References</h2>
	<%= render "references.html", references: @references %>
<% end %>