<a href="/polls/<%= @reference.reference_poll.id %>" class="reference-a">
	<div class="reference">
		<p class="reference-text"><%= @reference.reference_poll.title %></p>
		<div class="reference-score" style="background-color: <%= score_color @reference.reference_poll.results.mean %>;">
			<%= round(@reference.reference_poll.results.mean * 100) %>%
		</div>
	</div>
</a>