@import "base";

body {
	margin: 0px;
	cursor: default !important;
	line-height: 1.4;
	background-color: white;
	@media @sm {
		background: #f0f0f0;
	}
}

p {
	margin: 0px;
}

.container {
	margin: 0px auto 100px auto;
	width: 100%;
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;

	paper-button.primary {
		background-color: #1f8dd6;
		color: white;
	}
	paper-button.warning {
		background-color: #f44336;
		color: white;
	}

	.header {
		width: 100%;
		background-color: #1f8dd6;
		text-align: center;
		@media @lg {
			text-align: left;
		}

		.header-contents {
			max-width: 900px;
			margin: 0 auto;
			padding: 10px 15px;
			padding-bottom: 2px;
			@media @md {
				padding: 14px 40px;
				padding-bottom: 0px;
			}
			@media @lg {
				padding-bottom: 14px;
			}

			.pure-g {
				.pure-u-1 {
					height: 40px;
					@media @md {
						height: 40px;
					}
					@media @lg {
						height: 30px;
					}
				}
				.pure-u-1:last-child {
					height: 28px;
					@media @md {
						height: 34px;
					}
					@media @lg {
						height: 30px;
					}
				}
			}

			.logo {
				img {
					width: 85px;
				}
			}

			.search-container {
				max-width: 500px;
				margin: 0 auto;
				
				.search {
					width: 100%;
					outline: none;
					-webkit-appearance: none;
					padding: 6px 12px;
					font-size: 14px;
					color: #555;
					border: none;
					border-radius: 2px;
				}
				.search::-webkit-input-placeholder {
					color: #ccc;
				}
				.search:focus::-webkit-input-placeholder {
					color: #ddd;
				}
			}

			.actions {
				text-align: center;
				font-size: 12px;
				line-height: 20px;
				margin-top: 0px;
				@media @sm {
					font-size: 14px;
				}
				@media @lg {
					text-align: right;
					line-height: 32px;
					margin-top: 0px;
				}

				a {
					color: white;
					display: inline-block;
					text-decoration: none;
					margin: 0px 15px;
				}

				a:hover {
					text-decoration: none;
					color: white !important;
					opacity: 1;
				}
			}

			.not-in-trust-metric {
				line-height: 0px;
				display: block;
				font-size: 11px;
				color: white;
				font-weight: bold;
			}
		}
	}

	::-webkit-input-placeholder {
		text-transform: initial;
	}
	:-moz-placeholder { 
		text-transform: initial;
	}

	::-moz-placeholder {  
		text-transform: initial;
	}

	:-ms-input-placeholder { 
		text-transform: initial;
	}

	a {
		color: #333;
		text-decoration: none;
	}

	a:hover {
		color: #337ab7;
	}

	table {
		border-collapse: collapse
	}

	hr {
		margin: 20px 0px;
		border: 0;
		border-top: 1px solid #ddd;
	}

	input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="number"], input[type="url"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		border-radius: 0px;
		box-shadow: none;
	}

	input[type=range] {
		/*removes default webkit styles*/
		-webkit-appearance: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		
		/*fix for FF unable to apply focus style bug */
		border: none;
		background: none;
		
		/*required for proper track sizing in FF*/
		width: 300px;
		height: 30px;
	}
	input[type=range]::-webkit-slider-runnable-track {
		width: 300px;
		height: 5px;
		border: none;
		border-radius: 3px;
		background: #ccc;
	}
	input[type=range]::-webkit-slider-thumb {
		-webkit-appearance: none;
		border: none;
		height: 24px;
		width: 24px;
		border-radius: 50%;
		background: #1f8dd6;
		margin-top: -8px;
	}
	input[type=range]:focus {
		outline: none;
	}
	input[type=range]:focus::-webkit-slider-runnable-track {
		background: #ccc;
	}

	input[type=range]::-moz-range-track {
		width: 300px;
		height: 5px;
		border: none;
		border-radius: 3px;
		background: #ccc;
	}
	input[type=range]::-moz-range-thumb {
		border: none;
		height: 24px;
		width: 24px;
		border-radius: 50%;
		background: #1f8dd6;
	}

	/*hide the outline behind the border*/
	input[type=range]:-moz-focusring{
		outline: 1px solid white;
		outline-offset: -1px;
	}

	input[type=range]::-ms-track {
		width: 300px;
		height: 5px;
		
		/*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
		background: transparent;
		
		/*leave room for the larger thumb to overflow with a transparent border */
		border-color: transparent;
		border-width: 6px 0;

		/*remove default tick marks*/
		color: transparent;
	}
	input[type=range]::-ms-fill-lower {
		background: #777;
		border-radius: 10px;
	}
	input[type=range]::-ms-fill-upper {
		border-radius: 10px;
		background: #ccc;
	}
	input[type=range]::-ms-thumb {
		border: none;
		height: 24px;
		width: 24px;
		border-radius: 50%;
		background: #1f8dd6;
	}
	input[type=range]:focus::-ms-fill-lower {
		background: #888;
	}
	input[type=range]:focus::-ms-fill-upper {
		background: #ccc;
	}
	.range {
		input {
			display: block;
		}
		output {
			display: block;
		}
	}

	button {
		background: none;
		border: none;
		outline: none;
	}

	.pure-button {
		border-radius: 0;
		height: 36px;
		color: rgba(0, 0, 0, 0.8);
		background-color: #E6E6E6;
		background-color: rgba(0, 0, 0, 0.08);
		font-size: 14px;
		@media @sm {
			font-size: 16px;
		}
	}
	.pure-button:hover {
		background-image: none;
		background-color: rgba(0, 0, 0, 0.12);
	}
	.pure-button:active {
		box-shadow: none;
		background-color: rgba(0, 0, 0, 0.15);
	}

	.delete-button {
		color: white;
		background: rgb(202, 60, 60);
	}
	
	.pure-button-primary {
		color: white;
		background-color: #1f8dd6 !important;
	}

	.pure-button-active {
		box-shadow: none;
	}

	.main-wrap {
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		padding-top: 40px;
		top: 120px;
		overflow-y: scroll;
		@media @md {
			top: 128px;
		}
		@media @lg {
			top: 58px;
		}

		.alert {
			margin: 0px auto;
			margin-bottom: 20px;
			padding: 8px 15px;
			font-size: 16px;
			width: 90%;
			max-width: 900px;
		}

		.alert-info {
			background-color: #DCEDC8;
		}

		.alert-error {
			background-color: #fba3a3;
		}

		.heading {
			font-size: 18px;
			margin: 0px;
			margin-bottom: 10px;
			line-height: 16px;
			padding: 0px 15px;
		}

		.heading-a {
			display: block;
			margin: 0px;
			font-size: 11px;
			font-weight: bold;
			margin-bottom: 20px;
		}

		.scrollable {
			margin-bottom: 100px;
		}

		.main {
			margin-top: 0px;
			margin-bottom: 50px;
			border-radius: 0px;
			color: #333;
			background-color: white;
			max-width: 900px;
			margin-left: auto;
			margin-right: auto;
			padding: 30px 5px 30px 5px;
			@media @sm {
				padding: 40px 35px 40px 35px;
			}
		}
	}
}