* {
	box-sizing: border-box !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
}

table { border-collapse:collapse }

body {
	margin: 0px;
	background-color: #f0f0f0;
	cursor: default !important;
}

button {
	outline: none;
	border-radius: 0px;
	border: 1px solid #ccc;
	padding: 6px 12px;
	font-size: 14px;
	background-color: #fff;
}

button:hover {
	background-color: #e3e3e3;
}

button.active {
	background-color: #ddd;
	border: 1px solid #777;
}

input {
	border-radius: 0px;
	box-shadow: none;
	font-size: 14px;
	background-color: #fff;
	background-image: none;
	outline: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	border: 1px solid #ccc;
	padding: 6px 12px;
	height: 31px;
	-webkit-appearance:none;
}

hr {
	margin: 20px 0px;
	border: 0;
	border-top: 1px solid #ddd;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #337ab7 !important;
}

.container {
	margin: 70px auto 100px auto;
	width: 900px;
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

.alert {
	margin: 0px;
}

.header {
	height: 35px;
	padding: 0 25px;
}

.header .logo {
	float: left;
	width: 85px;
}

.search {
	display: inline-block;
	margin-left: 10px;
	width: 250px;
	height: 31px;
	padding: 0px 5px;
	color: #555;
	float: left;
}

.header .actions {
	float: right;
	margin-top: 10px;
	font-size: 14px;
	color: rgb(51, 122, 183);
}

.header .actions a {
	margin-left: 30px;
	color: #4aa5f3;
}

.header .actions a:hover {
	text-decoration: none;
	color: #337ab7;
}

.main {
	padding: 40px 35px 40px 35px;
	margin-top: 10px;
	margin-bottom: 30px;
	border-radius: 0px;
	color: #333;
	background-color: white;
	/* box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1); */
}
