.delegations {
	.delegation {
		margin-bottom: 10px;

		.name {
			margin: 0px 20px;
			font-size: 22px;
		}

		.weight {
			margin: 0px 20px;
			font-size: 26px;
		}

		.topic {
			margin: 0px 10px;
		}

		.all-topics {
			margin: 0px 20px;
			font-size: 20px;
		}
	}
}