.contributions {
	width: 100%;
	text-align: center;
	font-size: 12px;
	margin-bottom: 20px;

	.column-name {
		font-size: 16px;
	}

	td {
		border: none;
		width: 20%;
		white-space: pre-wrap;
		padding: 5px 0px;
	}
	td:first-child {
		width: 40%;
	}
}