.contributions {
	display: none;
	width: 100%;
	text-align: center;
	font-size: 12px;
	margin-top: 50px;
	opacity: 0;
	transition: opacity 0.5s ease-out;

	.column-name {
		font-size: 16px;
	}

	td {
		border: none;
		width: 20%;
		padding: 5px 10px;
	}
	td.username {
		width: 25%;
	}
	td.contribution {
		width: 55%;
	}
	td.choice {
		width: 10%;
	}
	td.date {
		width: 10%;
	}
}

.contributions.shown {
	opacity: 1;
}