.identity h1 {
	color: #333;
	font-weight: normal;
	margin: 0px;
}

.identity-username {
	font-size: 16px;
}

.identity-name {
	font-size: 24px;
}

.preference {
	margin-bottom: 15px;
}

.preference label {
	font-size: 13px;
	color: #333;
	font-weight: bold;
}

.preference input {
	margin-top: 4px;
	margin-left: 3px;
}

.create-identity input {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	text-align: center;
}

.create-identity button {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	width: 150px;
}

.credentials .section-title {
	margin-top: 0px;
	margin-bottom: 20px;
}

.credentials .credential {
	margin: 0px;
	margin-top: 6px;
}

.credentials-continue {
	margin: 0px;
	margin-top: 30px;
}

.credentials-continue a {
	color: #4aa5f3;
}