@import "base";

.landing-container {
	-webkit-font-smoothing: antialiased;
	color: #7f8c8d;
	line-height: 1.7em;

	font-size: 13px;
	@media @lg {
		font-size: 16px;
	}

	p {
		margin: 0px;
	}

	a {
		-o-transition: .2s;
		-ms-transition: .2s;
		-moz-transition: .2s;
		-webkit-transition: .2s;
		transition: .2s;
	}

	.splash {
		width: 100%;
		background: #1f8dd6;
		padding: 100px 1em 100px 1em;
		text-align: center;
		text-transform: uppercase;

		.logo {
		}

		.tagline {
			margin-top: 20px;
			color: white;
			letter-spacing: 0.05em;
			opacity: 0.8;
		}

		.explore {
			margin-top: 40px;
			padding: 1em 3em;
			border-radius: 5px;
			background: white;
			color: #1f8dd6;
			font-size: 120%;
		}

		.explore:hover {
			opacity: 0.8;
		}
	}

	.content {
		width: 100%;
		padding: 4em 1em 8em 1em;
		@media @md {
			padding: 8em 2em 8em 2em;
		}

		.pure-g {
			max-width: 1200px;
			margin: 0 auto;
		}

		.heading {
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			margin: 0;
			text-align: center;
			line-height: 1.4em;
			font-size: 1.5em;
			margin-bottom: 20px;
		}

		.box {
			padding: 1.5em 1em;
			@media @md {
				padding: 1.5em 2.5em;
			}

			.subheading {
				color: #1f8dd6;
				margin: 0px;

				i {
					margin-right: 7px;
				}
			}
		}
	}

	.features {
		background: white;

		.heading {
			color: #34495e;
		}

		.box {
			text-align: justify;
			font-size: 14px;
		}
	}

	.examples {
		background: #2d3e50;
		color: #aaa;

		.heading {
			color: white;
		}

		.box {
			text-align: left;

			a {
				display: block;
				background-color: rgba(255, 255, 255, 0.06);
				text-decoration: none;
				color: black;
				font-size: 14px;
				@media @lg {
					font-size: 16px;
				}

				.title {
					color: #333;
					display: inline-block;
					line-height: 20px;
					margin: 0px;
					vertical-align: middle;
					color: white;
					text-decoration: none;
					padding: 10px 14px;
					width: calc(~"100% - 85px");
					
					@media @lg {
						padding: 16px 20px;
						width: calc(~"100% - 125px");
					}
				}

				.score {
					font-weight: bold;
					display: inline-block;
					padding: 8px;
					text-align: center;
					color: #333;
					vertical-align: middle;
					opacity: 0.65;
					line-height: 56px;
					width: 80px;

					@media @lg {
						width: 120px;
					}
				}
			}

			a:hover {
				background-color: rgba(255, 255, 255, 0.03);

				.title {
					color: #1f8dd6;
				}

				.score {
					opacity: 0.5;
				}
			}
		}
	}

	.footer {
		padding: 1em;
		background: #111;
		text-align: center;
		font-size: 13px;

		a {
			color: #d3e7e8;
			text-decoration: none;
		}

		a:hover {
			color: #1f8dd6;
		}
	}
}