@import "base";

.landing-container {
	-webkit-font-smoothing: antialiased;
	color: #7f8c8d;
	line-height: 1.7em;

	font-size: 13px;
	@media @lg {
		font-size: 16px;
	}

	p {
		margin: 0px;
	}

	a {
		-o-transition: .2s;
		-ms-transition: .2s;
		-moz-transition: .2s;
		-webkit-transition: .2s;
		transition: .2s;
	}

	.splash {
		width: 100%;
		background: #1f8dd6;
		padding: 100px 1em 100px 1em;
		text-align: center;
		text-transform: uppercase;

		.logo {
		}

		.tagline {
			margin-top: 20px;
			color: white;
			letter-spacing: 0.05em;
			opacity: 0.8;
		}

		.explore {
			margin-top: 40px;
			padding: 1em 3em;
			border-radius: 5px;
			background: white;
			color: #1f8dd6;
			font-size: 120%;
		}

		.explore:hover {
			opacity: 0.8;
		}
	}

	.heading {
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		margin: 0;
		text-align: center;
		line-height: 1.4em;
		font-size: 1.5em;
		margin-bottom: 20px;
	}

	.content {
		width: 100%;
		padding: 4em 1em;
		@media @md {
			padding: 6em 2em;
		}

		.pure-g {
			max-width: 1200px;
			margin: 0 auto;

			> div {
				font-size: 14px;
				padding: 3em 1.5em;
				@media @md {
					font-size: 15px;
				}
				@media @lg {
					padding: 2.5em 2em;
				}
			}
		}
	}

	.examples {
		background: white;

		.heading {
			color: #34495e;
		}

		.list {
			text-align: center;
			max-width: 1200px;
			margin: 0 auto;

			.example {
				margin: 0px;
				border-top: 1px solid rgba(0, 0, 0, 0.06);
				
				
				.liquio-inline {
					display: block;
					width: 100%;
					color: #555;
					text-decoration: none;
					padding: 20px 24px;
					cursor: default;
					line-height: 30px;
					font-size: 16px;
					@media @md {
						font-size: 22px;
					}

					iframe {
						margin-top: 2px;
					}
				}

				.liquio-inline:hover {
					background-color: rgba(0, 0, 0, 0.06);
					color: #1f8dd6;
				}
			}

			.example:last-child {
				border-bottom: 1px solid rgba(0, 0, 0, 0.06);
			}
		}
	}

	.features {
		background: #2d3e50;
		color: #ddd;

		a {
			color: white;
			text-decoration: none;
			font-weight: bold;
		}
		a:hover {
			color: #1f8dd6;
		}

		.heading {
			color: white;
		}

		.feature {
			text-align: justify;

			.subheading {
				color: #1f8dd6;
				margin: 0px;
				opacity: 0.9;

				.fa {
					color: white;
				}

				i {
					margin-right: 7px;
				}
			}
		}
	}

	.footer {
		padding: 1em;
		background: #111;
		text-align: center;
		font-size: 13px;

		a {
			color: #d3e7e8;
			text-decoration: none;
		}

		a:hover {
			color: #1f8dd6;
		}
	}
}