@import "base";

.new-poll {
	text-align: left;

	.row-label {
		line-height: 22px;
		text-align: center;
		@media @sm {
			line-height: 36px;
		}
	}

	.row-input {
		margin: 5px 0px;
		text-align: center;
	}

	.choices {
		display: inline-block;

		label {
			display: block;
			margin-right: 0px;
			width: 100% !important;
			text-align: left !important;
			line-height: 22px;

			.choice-type-details {
				font-size: 12px;
			}
		}
	}

	.create {
		.notes {
			margin: 0;
			margin-top: 6px;
			font-size: 12px;
			font-style: italic;
		}
	}
}