.topics {
	font-size: 18px;
	font-weight: normal;
	margin: 0px;
}

.topic {
	margin: 0 10px;
	display: inline-block;
}

.title {
	margin: 0px;
	margin-top: 11px;
	font-size: 26px;
	font-weight: normal;
	color: #333;
	opacity: 1;
}

.score-container {
	margin-top: 30px;
	width: 100%;

	.score-box {
		margin: 0px auto;
	}
}

.links {
	line-height: 18px;
	font-size: 12px;
	width: 100%;
	text-align: center;
	margin-top: 10px;

	a {
		color: #4aa5f3;
		font-weight: bold;
		margin: 0px 10px;

		i {
			color: #4aa5f3;
		}
	}
}

.references-title {
	margin: 0px;
	margin-top: 80px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 20px;
	font-weight: normal;
}

.create-poll input[type="text"] {
	width: 100%;
	text-align: center;
}

.create-poll button {
	display: block;
	margin: 0 auto;
	margin-top: 15px;
}

.inverse-reference {
	margin-bottom: 4px;
}