.container {
	.topics {
		font-size: 18px;
		font-weight: normal;
		margin: 0px;

		.topic {
			margin: 0 10px;
			display: inline-block;
		}
	}

	.title {
		margin: 0px;
		margin-top: 11px;
		font-size: 26px;
		font-weight: normal;
		color: #333;
		opacity: 1;
	}

	.score-container {
		margin-top: 30px;
		width: 100%;

		.score-box {
			margin: 0px auto;
		}
	}

	.links {
		line-height: 18px;
		font-size: 12px;
		width: 100%;
		text-align: center;
		margin-top: 10px;

		a {
			color: #4aa5f3;
			font-weight: bold;
			margin: 0px 10px;

			i {
				color: #4aa5f3;
			}
		}
	}

	.references-title {
		margin: 0px;
		margin-top: 80px;
		margin-bottom: 15px;
		text-align: center;
		font-size: 20px;
		font-weight: normal;
	}
	
	.inverse-reference {
		margin-bottom: 8px;
		font-size: 15px;
	}

	.inline-toolbox {
		margin-top: 30px;
		color: #333;

		.toggle {
			margin: 0px 0 4px 0;
			font-size: 13px;
		}

		.code {
			padding: 5px 80px;
			font-size: 10px;
			color: #333;
			margin: 0px;
			opacity: 0.3;
		}
	}
}