.references {
	text-align: left;

	.pole {
		padding: 0 15px;
		
		.pole-heading {
			text-align: center;
			font-size: 18px;
			font-weight: normal;
			margin: 0px;
			margin-bottom: 15px;
		}
	}

	.references-list {
		padding: 0px 20px;

		.reference-text {
			width: initial !important;
		}
	}

	.reference-a:hover {
		color: inherit;

		.reference-text {
			color: #4aa5f3 !important;
		}
	}

	.reference {
		margin: 12px 0px;
		font-size: 0px;

		.reference-text {
			font-size: 13px;
			width: calc(~"100% - 80px");
			line-height: 16px;

			.for-choice-text {
				font-size: 20px;
				margin-right: 10px;
				text-transform: none;
				line-height: 0px;
			}
		}

		.reference-score {
			height: 30px;
		}
	}
}

.reference-text {
	color: #333;
	display: inline-block;
	margin: 0px;
	vertical-align: middle;
	padding-left: 10px;
}

.reference-score {
	font-weight: bold;
	display: inline-block;
	padding: 4px;
	text-align: center;
	font-size: 13px;
	color: #333;
	vertical-align: middle;
	width: 80px;
	height: 32px;
	line-height: 22px;
	border: 2px solid rgba(0, 0, 0, 0.05);
	position: relative;
	top: -1px;
}