.score-box {
	margin: 0 auto;
	width: 180px;
	padding: 14px 0px;
	text-align: center;
}

.score-box .number {
	line-height: 28px;
	font-size: 28px;
}

.score-box .percent {
	font-size: 24px;
}

.score-box .subtext {
	font-size: 12px;
	font-weight: bold;
}