.claim {
	font-size: 20px;
	margin: 0px;
	margin-bottom: 15px;
}

.true-choice, .false-choice {
	padding: 12px 18px;
	font-size: 18px;
	margin: 0 5px;
	width: 120px;
}

.cast-vote {
	display: inline-block;
	vertical-align: top;
}

.remove-vote {
	background: none;
	outline: none;
	border: none;
	font-size: 10px;
	color: #337ab7;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.remove-vote:hover {
	text-decoration: underline;
	background: none;
}

.link {
	display: block;
	margin-top: 10px;
	color: #337ab7;
	font-size: 14px;
}

.score-input {
	height: 46px;
	text-align: center;
	font-size: 18px;
	width: 160px;
}