@import "base";

.claim {
	font-size: 20px;
	margin: 0px;
	margin-bottom: 15px;
}

.true-choice, .false-choice {
	padding: 12px 0px;
	font-size: 18px;
	margin: 0 5px;
	width: 85px;
	@media @md {
		width: 120px;
	}
}

.true-choice.pure-button-active, .false-choice.pure-button-active {
	background: #48b2f9;
}

.cast-vote {
	display: inline-block;
	vertical-align: top;
}

.set-vote {
	display: block;
	margin-top: 10px;
	width: 100%;
}

.remove-vote {
	background: none;
	outline: none;
	border: none;
	font-size: 10px;
	color: #337ab7;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.remove-vote:hover {
	text-decoration: underline;
	background: none;
}

.vote-help {
	background: none;
	outline: none;
	border: none;
	font-size: 10px;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.link {
	display: block;
	margin-top: 10px;
	color: #337ab7;
	font-size: 14px;
}

.score-input {
	height: 46px;
	text-align: center;
	font-size: 18px;
	width: 80px;
	@media @md {
		width: 160px;
	}
}

.current-choice {
	margin-bottom: 5px;
}