<div>
	<input v-model="title" label="Title" required style="display: inline-block; width: 300px;"></input>
	<select v-model="choice_type">
		<option v-for="option in options" v-bind:value="option.value">
			{{ option.text }}
		</option>
	</select>
	<button v-on:click="view">View reference</paper-button>
</div>