<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="A liquid democracy where anyone can vote on anything.">
		<meta name="author" content="Žan Kusterle">

		<title>Liquio</title>

		<meta property="og:image" content="https://liqu.io/images/logo.png" />
		<meta property="og:description" content="A liquid democracy where anyone can vote on anything." />
		<meta property="og:url" content="https://liqu.io/" />
		<meta property="og:title" content="Liquio" />
		<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/icons/manifest.json">
		<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#1f8dd6">

		<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/gpnnencpnfcpdpdfbaefalokcilkkege">

		<style>
			body {
				margin: 0;
				background-color: #fff;
				cursor: default;
				line-height: 1.4;
				font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
			}


			.container {
				margin: 0 auto;
				width: 100%;
				color: #333;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				text-align: center;
				max-width: none;
			}


			h1 {
				font-weight: normal;
				margin-top: 100px;
				margin-bottom: 20px;
				font-size: 48px;
				color: #444;
			}

			.get-extension {
				margin: 0 auto;
				margin-top: 60px;
			}

			.get-extension > img {
				width: 260px;
			}

			.get-extension > a {
				text-decoration: none;
				display: block;
			}

			.get-extension > a > button {
				outline: none;
				border: none;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0px;
				color: #ffffff;
				font-size: 32px;
				background: #00A9E1;
				padding: 25px 60px;
				text-decoration: none;
				cursor: pointer;
			}

			.get-extension > a > button:hover {
				background: #27baea;
				text-decoration: none;
			}
		</style>
	</head>

	<body>
		<div id="app" class="container">
			<h1>Vote on anything, anywhere on the web.</h1>

			<iframe width="800" height="502" src="https://www.youtube.com/embed/DLD8brn6j6A?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

			<div class="get-extension">
				<img src="/images/chrome-web-store-badge.png"></img>
				<a href="https://chrome.google.com/webstore/detail/liquio/gpnnencpnfcpdpdfbaefalokcilkkege">
					<button>Get free extension</button>
				</a>
			</div>
		</div>
	</body>
</html>
