<div class="credentials">
	<p class="section-title">Write down your username and password. If you lose them, your identity will be impossible to recover.</p>

	<p class="credential">Username: <b><%= @identity.username %></b></p>
	<p class="credential">Password: <b><%= @password %></b></p>

	<p class="credentials-continue"><b>I wrote down my username and password.</b> <a href="/identities/<%= @identity.id %>" style="color: #c00;">Continue.</a></p>
</div>
