<div class="credentials">
	<p class="section-title">Please write down your username and password. If you lose them, your identity will be impossible to recover.</p>

	<p class="credential">Username: <b><%= @identity.username %></b></p>
	<p class="credential">Password: <b><%= @password %></b></p>

	<p class="credentials-continue">I wrote down my username and password. <a href="/identities/<%= @identity.id %>">Continue.</a></p>
</div>
