<%= for delegation <- @delegations do %>
	<div>
		<a href="/identities/<%= delegation.from_identity.id %>"><%= delegation.from_identity.username %></a>
		to
		<a href="/identities/<%= delegation.to_identity.id %>"><%= delegation.to_identity.username %></a>:
		<%= delegation.data.weight %>
		<%= for topic <- delegation.data.topics do %>
			<a href="<%= html_explore_path(@conn, :show, topic) %>">#<%= topic %></a>
		<% end %>
	</div>
<% end %>