<form method="POST" action="/identities" autocomplete="off" class="pure-form create-identity">
	<input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>" />

	<div class="preference">
		<label class="heading-label">Username</label>
		<input type="text" name="username" />
	</div>

	<div class="preference">
		<label class="heading-label">Name</label>
		<input type="text" name="name" />
	</div>

	<button type="submit" class="pure-button pure-button-primary">Create</button>
</form>