@import '../node_modules/element-ui/lib/theme-chalk/index.css';

.el-popper {
    z-index: 200000 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.el-tooltip__popper {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.el-dialog {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
