@import '../node_modules/element-ui/lib/theme-chalk/index.css';

.liquio-bar {
    &__tooltip {
        z-index: 200;
    }
}

.el-popper {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.el-tooltip__popper {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.el-dialog {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sign-alert {
    p {
        font-size: 15px;
        margin-top: -20px;
        margin-bottom: 80px;
    }

    &__images {
        display: flex;
        align-items: center;
    }

    &__toolbar-image {
        width: 100%;
        height: 60px;
        background-size: contain;
        background-repeat: no-repeat;
        box-sizing: border-box;
        box-shadow: inset 60px 0 50px 10px #FFF;
        margin-left: -40px;
    }

    &__sign-icon {
        width: 140px;
        z-index: 1;
    }
}
